@import "~bootstrap/scss/bootstrap";

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;

    .logo {
        width: 230px;
        text-align: center;
        background-color: darken($primary, 5%);
        color: #fff;
        border-bottom: 0 solid transparent;
        display: block;
        float: left;
        height: 54px;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        width: 230px;
        padding: 0 15px;
        font-weight: 300;
        overflow: hidden;
        position: fixed;
        top: 0;
    }

    .navbar {
        background-color: $primary;
        margin-left: 230px;
        border: none;
        min-height: 54px;
        @include transition(margin-left .3s ease-in-out);
    }
}

.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 54px;
    min-height: 100vh;
    width: 230px;
    background-color: $dark;
    z-index: 100;
    @include transition(transform .3s ease-in-out,width .3s ease-in-out);

    .nav {
        > .nav-item {

            .nav-link {
                border: none;
                border-radius: 0px;
                border-left: 3px solid transparent;
                background-color: lighten($dark, 5%);
                color: darken($light, 20%);
                padding-left: 8px;

                &:hover, &:active, &:focus {
                    background-color: $dark;
                    color: $light;
                }
            }

            &.active {
                > .nav-link {
                    border-left-color: $success;
                    background-color: $dark;
                }
            }

            .sub-nav { 
                > .nav-item {

                    .nav-link {
                        background-color: lighten($dark, 10%);
                        padding-left: 20px;
                        color: darken($light, 20%);

                        &:hover, &:active, &:focus {
                            background-color: lighten($dark, 5%)
                        }
                    }

                    &.active {
                        > .nav-link {
                            color: $light;
                        }
                    }
                }
            }
        }
        
    }
}

.nav-pills {
    .nav-link:hover:not(.active) {
        background: none;
        border-color: transparent;
    }
}

.content-wrapper {

    .content-header {
        .breadcrumb {
            border:none;
            background: none;
        }
    }
    background-color: $gray-200;
    margin-left: 230px;
    min-height: 100vh;

    .content {
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}