// @import "~bootswatch/dist/Darkly/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";

body{
    padding-top : $nav-link-height + ($navbar-padding-y * 2);
}

fieldset.form-group{
    // background-color: #bbb;

    legend{
        border-bottom: 2px $primary solid;
        margin-bottom: 15px;
        font-size: 18px;
    }
}