<div class="card {% if class is defined %}{{ class }}{% endif %}">
    {% if block('header') is defined %}
        <div class="card-header clearfix">
            {{ block('header') }}
        </div>
    {% endif %}

    <div class="card-body">
        {% block body %}
        {% endblock %}
    </div>
    
    {% block table %}
    {% endblock %}

    {% if block('footer') is defined %}
        <div class="card-footer clearfix">
            {{ block('footer') }}
        </div>
    {% endif %}
</div>